html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #f0f0f0;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: "fit-content";
  width: 500px;

  height: 100%;
  justify-items: center;
  align-self: center;
  border: 10px solid #f0f0f0;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
